{% load static %}
    <div id="shareIcons">

    </div>

    <!-- FOOTER -->
    <div id="footer" role="contentinfo">
        <img class="back-to-top" src="{% static 'classy/images/back-to-top.png' %}" alt="Back to top" title="Back to top" style="display: inline;">
        <div id="footerWrapper">
            <div id="footerAdminSection">
                <div id="footerAdminLinksContainer" class="container">
                    <div id="footerAdminLinks" class="row">
                        <ul class="inline">
                            <li>
                                <a href="#" target="_self">Home</a>
                            </li>
                            <li>
                                <a href="#" target="_self">About this site</a>
                            </li>
                            <li>
                                <a href="http://gov.bc.ca/disclaimer/" target="_self">Disclaimer</a>
                            </li>
                            <li>
                                <a href="http://gov.bc.ca/privacy/" target="_self">Privacy</a>
                            </li>
                            <li>
                                <a href="http://gov.bc.ca/webaccessibility/" target="_self">Accessibility</a>
                            </li>
                            <li>
                                <a href="http://gov.bc.ca/copyright" target="_self">Copyright</a>
                            </li>
                            <li>
                                <a href="#" target="_self">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'classy/js/bootstrap.min.js' %}"></script>
<script src="{% static 'classy/js/misc.js' %}"></script>
<script src="{% static 'classy/js/navMenu.js' %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static 'classy/js/ie10-viewport-bug-workaround.js' %}"></script>


