<!doctype html>
<html>
<head>

<title>Tutorial</title>



</head>

<body>
<p class="text-center">Tutorial</p>

<h4>Data</h4>
<p>You can search data in 2 different ways. The first is by entering a search term in the general search bar. This will return matches that contain your
search query in either the datasource name, schema name, table name, or column name. The second way to search is by using the Advanced search, located under 
the intial search bar. This will open up the advanced search modal allowing you to search on multiple fields at once. You can choose how many results you would 
like to view at once by changing the top right option to 10, 25, 50, or 100. 'Export Results' will download a csv file that contains all of the data returned 
by your query. Clicking on the drop down arrow on the futhermost left point of any row will show more in-depth data about each row, such as current classification, 
who created it, it will allow deletion of the row, and you can also change the current classification using the drop-down. Multi-editing is enabled as well. Simply 
ctrl + click to select multiple rows individually, or hold shift and click to select multiple consecutive rows at once. Once you have selected all of the rows you 
wish to edit click 'Edit Selected' on the bottom of the page. This will then allow you to choose the desired classification of the data. Don't forget to 
'Commit Changes' before you leave the page, otherwise changes might be lost. 

</body>
</html>
