{% extends "admin/base.html" %}
{% block extrastyle%}
{% load static from static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<link rel="shortcut icon" href="{% static 'classy/images/watching.jpg' %}" type="image/x-icon">
<link rel="icon" href="{% static 'classy/images/watching.jpg' %}" type="image/x-icon">


<link rel="stylesheet" type="text/css" href="{% static 'admin/css/admin_base.css' %}" />
<link rel="stylesheet" href="{% static 'classy/css/classy_base.css' %}"/>
{% endblock %}
