.login-form {
	max-width: 400px;
	margin: 100px auto;

}

.inputs {
	padding: 26px 26px;
}

#bootstrapoverride {
	background-color:#417690;
	color:#f5dd5d;
	padding: 20px 20px;
}


.text-faint {
	color:#F1F1F2;
}

.blue-submit {
	background-color:#79aec8;
	border-color:#79aec8;
}
