td {
	user-select: none; /* CSS3 (little to no support) */
        -ms-user-select: none; /* IE 10+ */
	-moz-user-select: none; /* Gecko (Firefox) */
	-webkit-user-select: none; /* Webkit (Safari, Chrome) */
}

.navbar-light .navbar-nav .nav-link {
	color: #fff;
}

.navbar-light .navbar-brand {
	color: #fff;
}

.thead-inverse tr th {
	background-color: #417690;
	color: #fff;
}

.navbar {
	background-color: #003366;
}

.btn-cus {
	background-color: #79aec8;
	border-color: #79aec8;
}

.cus-link {
	color: #79aec8;
}

.btn-danger {
	background-color: #FF7070;
	border-color: #FF7070;	
}

.th-cus {
	font-weight: 500;
}

.recents {
	max-height: 30vh;
}

.selected {
	background-color: #ffecb3;
}

.icon {
/*
	margin-left: 2px;
	margin-right: 2px;
*/
}

.modify {
	background-color: #ffffcc;
}

.delete {
	background-color: #ffad99;

}

.iconBan {
	color: #ffad99;
	width: 15px;
	height: 15px;
}
