{% load static %}
{% include 'classy/head.html' %}
<title>Search - Classy</title>
<link rel="stylesheet" href="{% static 'classy/css/index.css' %}">

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
{% load classy_extras %}

</head>
<body>

    {% include 'classy/navbar.html' %}
    <div id="topicTemplate" class="template container-fluid gov-container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                {% if result == 'success' %}
                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {% if request.user.is_staff %}
                        <strong> Success!</strong>
                        {% endif %}
                        {% if not request.user.is_staff %}
                            <strong> Your changes will show once approved by a member of staff</strong>
                        {% endif %}
                    </div>

                {% elif result == 'failure' %}
                    <div class="alert alert-warning alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong> Oops!</strong> Looks like something went wrong, please try again
                    </div>
                {% endif %}
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row">
            <form class="form-group" action="search" id="searchi">
                <div class="modal fade" id="adModal" tabindex="-1" role="dialog" aria-labelledby="modalLab" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h5 class="modal-title custom-colour" id="modalLab">Advanced Search</h5>
                            </div>
                            <div class="modal-body" id="advanced-form">
                                    {% for field in advanced %}
                                    <div class="form-group">
                                    {{field.label_tag}}
                                    {{field}}
                                    {{field.errors}}
                                    </div>
                                    {% endfor %}
                                <input type='hidden' name='size' value='{{basic.size.value}}'>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" name='submit-advanced' class="btn btn-success">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!--<div class="row" style="position: relative;">-->
            <div class="col-sm-1">
                <br/><br/>
                <form class="form-group" action="search" id="searchi">
                    <div class="input-group">
                        <label for="id_size">Results per page: &nbsp</label>
                        {{basic.size}}

                        {% for field in advanced %}
                            {{ field.as_hidden }}
                        {% endfor %}

                        <input type='hidden' name='submit-advanced' value=''>
                    </div>
                </form>
            </div>
            <div class="col-sm-9">
                <div class="row">
                <form class="form-group" action="search" id="searchi">
                    <div class="input-group">   
                        {{basic.query}}
                        <span class="input-group-btn">
                            <button type="submit" name="submit-basic" class="btn btn-primary" type="button">Search</button>
                        </span>
                    </div> 
                    <small id="descrip" class="form-text text-muted">By default all fields are searched, to customize use the advanced search</small>
                    <div class="input-group">
                        <input name="size" type="hidden" value="{{basic.size.value}}">
                    </div>
                    <nav class="nav justify-content-center">
                        <a class="nav-link cus-link active" data-toggle="modal" data-target="#adModal" href="">Advanced Search</a>
                    </nav> 
                </form>
                </div><div class="row">
                <div class="col-sm-10"></div>
                <div class="col-sm-2">
                {% if queryset %}
                <form class="form-group" action="download" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        {% for field in basic %}
                            <input type="hidden" name="{{field.name}}" value="{{field.value}}">
                        {% endfor %}
                        {% for field in advanced %}
                            {{ field.as_hidden }}
                        {% endfor %}
                        <button type="submit" class="btn btn-info btn-sm float-right" style="">Export results</button>
                    </div>
                </form>
                {% endif %}
                </div>
                </div>
            </div>
            <div class="col-sm-2">
                {% if queryset %}
                    <div id="canvas-holder" style="position: relative; margin: 0 auto;">
                        <canvas id="donutChart"></canvas>
                    </div>
                    <form action="search" method="get" id='pieChartForm'>
                        {% for field in advanced %}
                            {{ field.as_hidden }}
                        {% endfor %}
                        {% for field in basic %}
                            {{ field.as_hidden }}
                        {% endfor %}
                        <input type="hidden" name="classification" value="" id="pieChartClassi">
                    </form>
                {% endif %}
            </div>
        </div>
        <div class="row"> 
            <div class="modal fade" id="confModal" tabindex="-1" role="dialog" aria-labelledby="modalBo" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h5 class="modal-title custom-colour" id="modalBo">Confirm changes</h5>
                        </div>
                        <div class="modal-body">
                            <h6 class="text-center">Pending modifications</h6>
                            <table class="table table-sm table-hover" id="modTable">
                                <thead class="thead thead-sm thead-inverse">
                                    <tr>
                                        <th class="th-cus">ID</th>
                                        <th class="th-cus">Classification</th>
                                        <th class="th-cus">Protected Type</th>
                                        <th class="th-cus">Application</th>
                                        <th class="th-cus">New Dependencies</th>
                                        <th class="actions th-cus"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <br/>
                            <h6 class="text-center">Pending deletions</h6>
                            <table class="table table-sm table-hover" id="delTable">
                                <thead class="thead thead-inverse">
                                    <tr>
                                        <th class="th-cus">ID</th>
                                        <th class="actions th-cus"></th>
                                    </tr>   
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" id="finSubby" class="btn btn-success">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="batchModal" tabindex="-1" role="dialog" aria-labelledby="batchH" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h5 class="modal-title custom-colour" id="batchH">Change Classification</h5>
                        </div>
                        <div class="modal-body">
                            <form id="modify-form" name="modify">
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                                {% for field in modifyForm.visible_fields %}
                                    <div class="form-group">
                                    {{ field.label_tag }}
                                    {{ field }}
                                    {{ field.help_text }}
                                    </div>
                                {% endfor %}
                            </form>
                        </div>
                        <div class="modal-footer">
                            <p><strong>Note:</strong> you will be able to review these changes before they are submitted</p>
                            <button type="submit" id="changeC" class="btn btn-success" data-dismiss="modal">Change</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        <div class="col-lg-12">
        <div class="table-responsive">
            <table id="data-table" class="table table-striped table-hover data">
                <thead class="thead-inverse">
                    <tr>
                        <th></th>
                        <th class='th-cus'>Datasource</th>
                        <th class='th-cus'>Schema</th>
                        <th class='th-cus'>Table</th>
                        <th class='th-cus'>Column</th>
                        <th class='th-cus'>Classification</th>
                        <th class='th-cus'>Protected</th>
                        <th class='th-cus'>Application</th>
                    </tr>
                </thead>
                <tbody id="contentArea">
                    {% for tuple in queryset %}
                        <tr data-toggle="" data-target=".row{{ forloop.counter }}" class="accordion-toggle mrow{{forloop.counter}} {% if tuple.state == 'Pending' %}pending{% endif %}" id="{{forloop.counter}}">
                            <td>
                                <button data-toggle="collapse" type="button" class="btn btn-sm btn-outline-info" aria-label="Left Align" data-target=".row{{forloop.counter}}" class="accordion-toggle">
                                <img src="{% static 'classy/open-iconic/chevron-bottom.svg' %}" class="icon">
                                </button>   
                            </td>
                            <td>{{tuple.datasource}}</td>
                            <td>{{tuple.schema}}</td>
                            <td>{{tuple.table}}</td>
                            <td>{{tuple.column}}</td>
                            <td>{{translate|get_item:tuple.classification}}</td>
                            <td>{{translate|get_item:tuple.protected_type}}</td>
                            <td>{{tuple.owner.name}}</td>
                        </tr>
                        <tr class="hiddenRows{{forloop.counter}}">
                            <td colspan="8">
                                <div class="collapse row{{forloop.counter}} accordion-body">
                                    <div class="row">
                                    <div class="col-sm-1"></div>
                                        <div class="col-sm-2">
                                        <p><strong>Created by: </strong> {{tuple.creator.first_name}}</p>
                                    </div>
                                    <div class="col-sm-2">
                                    <a class="cus-link" href="{%url 'classy:data'%}/{{tuple.id}}" target="_blank">Detailed View</a>
                                    </div>
                                    <div class="col-sm-3">
                                    <form class="form-inline">
                                    <label class="mr-sm-2" for="{{forloop.counter}}"><strong>Classification:</strong></label>
                                    <select class="form-control form-control-sm cla"
                                        id="{{forloop.counter}}">
                                        <option selected>
                                            {{ translate|get_item:tuple.classification }}
                        <!--{{tuple.classification}}-->    </option>
                                        {% for op in ex_options %}
                                        <option value="{{forloop.counter}}">{{op}}</option>
                                        {% endfor %}
                                    </select>
                                    </form>
                                    </div>
                                    <div class="col-sm-1">
                                    {% if recent|get_item:tuple.id %} NEW {%endif%}
                                    </div>
                                    <div class="col-sm-2">
                                        <button id="{{forloop.counter}}" class="btn btn-sm btn-danger del float-right">Delete</button>
                                        
                                    <input id="prodId{{forloop.counter}}" name="prodId" type="hidden" value="{{tuple.id}}">
                                    </div>
                                    <div class="col-sm-1"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
        </div>


{% if queryset %}
<div class="container-fluid">
<div class="row">
<div class="col-sm-8">
{% include 'classy/pagi.html' %}
</div>
<div class="col-sm-1">
<button class="btn btn-sm btn secondary" id="edito" data-toggle="modal" data-target="#batchModal">Edit Selected</button>
</div>
<div class="col-sm-1">
<button class="btn btn-success btn-sm" id="subby" data-toggle="modal" data-target="#confModal">Commit Changes</button>
</div>
</div>
</div>
{% else %}
<p class="text-center">{{message}}</p>
{%endif%}

<form action="data"  method="post" id="succ">
{% csrf_token %}
<input type="hidden" name="success" value="success">
</form>

<form action="data" method="post" id="fai">
{% csrf_token %}
<input type="hidden" name="failure" value="failure">
</form>

<div class="modal" id="wheel"></div>

<br/><br/>
</div>
{% include 'classy/tail.html' %}
{{nodeData|json_script:"nodeData"}}
{{untranslate|json_script:"untranslate"}}
{{poptions|json_script:"poptions"}}
{{ex_options|json_script:"ex_options"}}
{{ex_poptions|json_script:"ex_poptions"}}
{{options|json_script:"options"}}
<script src="{% static 'classy/js/d3sunburst.js' %}"></script>

<script src="{% static 'classy/js/custom.js' %}"></script>

<script>
var options = JSON.parse(document.getElementById("options").textContent);

$body = $('body');
$(document).on({
    ajaxStart: function() { $body.addClass('loading'); },
    ajaxStop: function() { $body.removeClass('loading'); }
});

$(document).on('click', '#finSubby', function() {
    $body.addClass('loading');
    //alert(JSON.stringify(toDel));
    $.ajax({
        type: "POST",
        url: 'modi',
        traditional: true,
        data: {'toDel': JSON.stringify(toDel), 'toMod': JSON.stringify(toMod), 'csrfmiddlewaretoken': '{{ csrf_token }}'},

    success: function(data){
        if(data.status == 1) {
        $('#succ').submit();
    } else {
        $('#fai').submit();
        //window.location('url')
    }

    }
});
});




</script>
</body>
</html>


