{% load static %}
{% include 'classy/head.html' %}
<title>Exceptions - Classy</title>
{% load classy_extras %}
</head>
<body>
    {% include 'classy/navbar.html' %}
    <div id="topicTemplate" class='template container-fluid gov-container'>
        <div class="row">
            <div class='col-lg-3'>
                {% include 'classy/basic_pagi.html' %}
            </div>
            <div class='col-lg-8'>
                <form class='form-group' action='exceptions'>
                    <div class='input-group'>
                        {{form.query}}
                        <span class='input-group-btn'>
                            <button type='submit' class='btn btn-primary btn-small' type='button'>Search</button>
                        </span>
                    </div>
                    <small id="descrip" class="form-text text-muted">Search for pre-classified data by Datasource, Schema, Table, or Column</small>
                </form>
            </div>
            <div class='col-lg-1'></div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-sm">
                    <thead style="color:#fff;" class="thead-inverse">
                        <tr>
                            <th class="th-cus">ID</th>
                            <th class="th-cus">Creation Date</th>
                            <th class="th-cus">Datasource</th>
                            <th class="th-cus">Schema</th>
                            <th class="th-cus">Table</th>
                            <th class="th-cus">Column</th>
                            <th class="th-cus">Classification</th>
                            <th class="th-cus">User</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tuple in queryset %}
                        <tr>
                            <td>{{tuple.classy.id}}</td>
                            <td>{{tuple.classy.created}}</td>
                            <td>{{tuple.classy.datasource}}</td>
                            <td>{{tuple.classy.schema}}</td>
                            <td>{{tuple.classy.table}}</td>
                            <td>{{tuple.classy.column}}</td>
                            <td>{{translate|get_item:tuple.classy.classification_name}}</td>
                            <td>{{tuple.classy.creator.first_name}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% include 'classy/basic_pagi.html' %}
            </div>
        </div>
    </div>
    {% include 'classy/tail.html' %}
</body>
</html>
