{% load static %}
{% include 'classy/head.html' %}
<title>Homepage - Classy</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
</head>
<body>

{% include 'classy/navbar.html' %}

    <div id="topicTemplate" class="template container gov-container">
        <!-- Header with Background Image -->
        <div class="row">
            <header class="">
                <div class="">
                    <h2 class="display-4 text-center mt-4">Welcome {{user.first_name}}</h2>
                    <!--<img class="col-xs-12" src="https://placehold.it/2500x500">-->
                </div>
            </header>
        </div>
        <div class="row">
            <div class="col-md-12">
                <canvas id="lineChart"></canvas>
            </div>
        </div>
        <!-- Page Content -->
        <div class="row">
            <div class="col-lg-6">
                <h2 class="mt-4">About this application</h2>
                <p>The Data Security Classification repository, known as DSC for short, is a tool developed by the Corporate Services for the Natural Resource ministries with 
    the purpose of keeping an inventory of the data that is managed, and where that data is stored. This tool will allow users to view high level information about 
      tables, modify table classifications, upload new information, and flag deprecated data</p>

                <p>This tool is managed by the FLNR security team, with custom access granted to business areas based on privilege. All changes will be reviewed and approved before 
        they reflect in the main dataset. If you need access to a larger dataset due to business changes, please send a request to 
     the FLNR security team.
            </div>
            <div class="col-lg-6">
                {% if not empty %}
                <div id="canvas-holder" style="position: relative; height: 200px; width: 200px; margin: 0 auto;">
                    <canvas id="donutChart"></canvas>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 my-4" style="padding-top:25px; ">
                <div class="panel">
                    <img class="panel-header img-thumbnail img-responsive center-block" src="https://www.nps.gov/whsa/learn/nature/images/mountain_pepperweed.JPG" alt="">
                    <div class="panel-body">
                        <h4 class="card-title">Getting Started</h4>
                        <p class="card-text">Lost and not sure where to start? This page will give you a quick overview of DSC's main functionality.</p>
                    </div>
                    <div class="panel-footer">
                        <a href="tutorial" target="_blank" class="btn btn-info">Tutorial</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 my-4" style="padding-top:25px;">
                <div class="panel">
                    <img class="panel-header img-thumbnail img-responsive center-block" src="https://www.nps.gov/whsa/learn/nature/images/cottonwood.JPG" alt="">
                    <div class="panel-body">
                        <h4 class="card-title">Classification information</h4>
                        <p class="card-text">Confused as to what the different classifications mean? Take a look at our Classification guide for examples, and in-depth descriptions.</p>
                    </div>
                    <div class="panel-footer">
                        <a href="" class="btn btn-info">Classifications</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 my-4" style="padding-top:25px;">
                <div class="panel">
                    <img class="panel-header img-thumbnail img-responsive center-block" src="https://www.nps.gov/seki/learn/nature/images/Sheep-WF-small.jpg" alt="">
                    <div class="panel-body">
                        <h4 class="card-title">Issues</h4>
                        <p class="card-text">Found an issue in this application? Please take the time to send me a message using the link below.</p>
                    </div>
                    <div class="panel-footer">
                        <a href="https://github.com/Krocodial/classy/issues" target="_blank" class="btn btn-info">Bugtracker</a>
                    </div>
                </div>
            </div>
        </div>
    <!-- /.row -->

    </div>
{% include 'classy/tail.html' %}
{{nodeData|json_script:"nodeData"}}
{{untranslate|json_script:"untranslate"}}
{{poptions|json_script:"poptions"}}
{{lineDataset|json_script:"lineDataset"}}

<script src="{% static 'classy/js/d3sunburst.js' %}"></script>

{{dates|json_script:"dates"}}
{{keys|json_script:"keys"}}

<script src="{% static 'classy/js/line.js' %}"></script>

{{options|json_script:"options"}}
{{classification_mapping|json_script:"classification_mapping"}}
</body>
</html>
