<!doctype html>
<html>
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Data</title>

{% load static %}
<link rel="shortcut icon" href="{% static 'classy/images/watching.jpg' %}" type="image/x-icon">
<link rel="icon" href="{% static 'classy/images/watching.jpg' %}" type="image/x-icon">

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
{% include 'classy/head.html' %}
<link rel="stylesheet" href="{% static 'classy/css/style.css' %}"/>
<link rel="stylesheet" href="{% static 'classy/css/home.css' %}">



</head>
<body id="bootstrapoverride">

{% include 'classy/navbar.html' %}


<!-- Header with Background Image -->
<header class="business-header">
<div class="container">
<div class="row">
  <div class="col-lg-12">
    <h3 class="text-center mt-4">Welcome {{user}}</h3>
	<!--<canvas id="lineChart"></canvas>-->		
  </div>
</div>
</div>
</header>

<canvas id="lineChart" width="1280" height="280"></canvas>

<!-- Page Content -->
<div class="container">

<div class="row">
<div class="col-sm-7">
  <h2 class="mt-4">About this application</h2>
  <p>The Data Security Classification application, known as DSC for short, is a tool developed by the Corporate Services for the Natural Resource ministries with 
the purpose of keeping an inventory of the data that is managed, and where that data is stored. This tool will allow users to view high level information about 
  tables, modify table classifications, upload new information, and flag deprecated data</p>

  <p>This tool is managed by the FLNR security team, with custom access granted to business areas based on privilege. All changes will be reviewed and approved before 
	they reflect in the main dataset. If you need access to a larger dataset due to business changes, please send a request to 
<a href=''>CSNR@informationsecurityemail.com</a></p>
<!--<p>
    <a class="btn btn-primary btn-lg" href="#">Call to Action &raquo;</a>
  </p>-->
</div>
<div class="col-sm-5">
	<canvas id="pieChart"></canvas>
</div>
</div>
<!-- /.row -->

<div class="row">
<div class="col-sm-4 my-4">
  <div class="card">
    <img class="card-img-top" src="https://www.nps.gov/whsa/learn/nature/images/mountain_pepperweed.JPG" alt="">
    <div class="card-body">
      <h4 class="card-title">Getting Started</h4>
      <p class="card-text">Lost and not sure where to start? This page will give you a quick overview of DSC's main functionality.</p>
    </div>
    <div class="card-footer">
      <a href="#" class="btn btn-primary">Find Out More!</a>
    </div>
  </div>
</div>
<div class="col-sm-4 my-4">
  <div class="card">
    <img class="card-img-top" src="https://www.nps.gov/whsa/learn/nature/images/cottonwood.JPG" alt="">
    <div class="card-body">
      <h4 class="card-title">Classification information</h4>
      <p class="card-text">Confused as to what the different classifications mean? Take a look at our Classification guide for examples, and in-depth descriptions.</p>
    </div>
    <div class="card-footer">
      <a href="#" class="btn btn-primary">Find Out More!</a>
    </div>
  </div>
</div>
<div class="col-sm-4 my-4">
  <div class="card">
    <img class="card-img-top" src="https://www.nps.gov/seki/learn/nature/images/Sheep-WF-small.jpg" alt="">
    <div class="card-body">
      <h4 class="card-title">Issues</h4>
      <p class="card-text">Found an issue in this application? Please take the time to send me a message using the link below.</p>
    </div>
    <div class="card-footer">
      <a href="#" class="btn btn-primary">Find Out More!</a>
    </div>
  </div>
</div>

</div>
<!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
<div class="container">
<p class="m-0 text-center text-white">Copyright &copy; BC gov 2018</p>
</div>
<!-- /.container -->
</footer>



<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script>

var config = {
        type: 'line',
        data: {
                labels: {{dates|safe}},
                datasets: [{
                        label: 'Unclassified',
                        backgroundColor: 'rgb(148,119,139, 0.2)',
                        borderColor: '#94778B',
			pointBackgroundColor: '#94778B',
			pointBorderColor: '#fff',
			pointHoverBorderColor: '#94778B',
                        data: [
                                {% for val in unc %}
                                {{val.count}},
                                {% endfor %}
                        ],
                        fill: 'origin',
                        }, {
                        label: 'Confidential',
                        backgroundColor: 'rgb(160,204,218, 0.2)',
                        borderColor: '#A0CCDA',
                        data: [
                                {% for val in conf %}
                                {{val.count}},
                                {% endfor %}
                        ],
                        fill: '-1',
                        }, {
                        label: 'Public',
                        backgroundColor: 'rgb(124,229,119, 0.2)',
                        borderColor: '#7CE577',
			pointBackgroundColor: '#7CE577',
			pointBorderColor: '#fff',
			pointHoverBorderColor: '#7CE577',
                        data: [
                                {% for val in pub %}
                                {{val.count}},
                                {% endfor %}
                        ],
                        fill: '-1',
                        }, {
                        label: 'Protected A',
                        backgroundColor: 'rgb(233,206,44, 0.2)',
                        borderColor: '#E9CE2C',
                        data: [
                                {% for val in prota %}
                                {{val.count}},
                                {% endfor %}
                        ],
                        fill: '-1',
                        }, {
                        label: 'Protected B',
                        backgroundColor: 'rgb(222,84,30, 0.2)',
                        borderColor: '#DE541E',
                        data: [
                                {% for val in protb %}
                                {{val.count}},
                                {% endfor %}
                        ],
                        fill: '-1',
                        }, {
                        label: 'Protected C',
			 backgroundColor: 'rgb(191,33,30, 0.2)',
                        borderColor: '#BF211E',
                        data: [
                                {% for val in protc %}
                                {{val.count}},
                                {% endfor %}
                        ],
                        fill: '-1',
                        }]
                },
                options: {
                        elements: {
                        },
                        legend: {
                                display: true,
                                position: 'right',
                        },
                        responsive: false,
                        title: {
                                display: true,
				text: 'Past 10 days of Activity',
				position: 'top',
				fontSize: '13'
                        },
                        tooltips: {
                                mode: 'index',
                                intersect: false,
                        },
                        hover: {
                                mode: 'nearest',
                                intersect: true
                        },
                        scales: {
                                xAxes: [{
                                        display: true,
                                        scaleLabel: {
                                                display: true,
                                                labelString: 'Day'
                                        }
                                }],
                                yAxes: [{
                                        stacked: true,
                                        display: true,
                                        scaleLabel: {
                                                display: true,
                                                labelString: 'Rows'
                                        }
                                }]
                        }
                }
        };


piedata = {
    datasets: [{
        data: {{data_cons}},

        backgroundColor: [
                '#A0CCDA',
                '#7CE577',
                '#94778B',
                '#E9CE2C',
                '#DE541E',
                '#BF211E'
        ]

    }],

    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: {{label_cons}}
};

pieoptions = {
        legend: {
                display: true,
                position: 'right',
        },
	title: {
		display: true,
		position: 'top',
		text: 'Breakdown of classifications',
		fontSize: '13'
	}
};


var pie = document.getElementById('pieChart').getContext('2d');
var line = document.getElementById('lineChart').getContext('2d');

window.onload = function() {
	window.myLine = new Chart(line, config);
	var myDoughnutChart = new Chart(pie, {
	    type: 'doughnut',
	    data: piedata,
	    options: pieoptions
	});

};


</script>
</body>
</html>
