<!doctype html>
<html>
<head>

<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Uploads</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

{% load static %}
<link rel="stylesheet" href="{% static 'classy/style.css' %}"/>
<link rel="shortcut icon" href="{% static 'classy/watching.jpg' %}" type="image/x-icon">
<link rel="icon" href="{% static 'classy/watching.jpg' %}" type="image/x-icon">



</head>
<body>
{% include 'classy/navbar.html' %}

{% if message %}
	<p class="text-center"><strong>{{message}}</strong><p>
{% endif %}

<div class="container">
<div class="row">
<div class="col">
</div>
<div class="col">
        <form action="uploader" method="POST" enctype='multipart/form-data' class="form">
                {% csrf_token %}
                <div class="form-group">
                        <label class="custom-file">
                                <input type="file" id="file" class="custom-file-input">
                                <span class="custom-file-control"></span>
                        </label>
                        <label for="fileupload"><strong>Select csv file to upload and merge</strong></label>
			{{form.file}}
                   <!--     <input type="file" class="form-control-file form-control-sm" name="Myfile" id="fileupload">
                --></div>

                        <!--<input type='file' name='Myfile'/>-->
                <button type="submit" class="btn-success form-control form-control-sm">Upload</button>
        </form>
</div>
<div class="col">
</div>
</div>
</div>
<br/>
<br/>
<table class="table table-sm">
<thead style="color:#fff;" class="thead-inverse">
	<tr>
		<th>Current jobs</th>
		<th>Status</th>
		<th>Uploaded</th>
		<th>Time in Queue</th>
		<th>User</th>
	</tr>
</thead>
<tbody>
	{% for thread in threads %}
	<tr>
		<td>{{thread.name}}</td>
		<td>{{thread.state}}</td>
		<td>{{thread.startdate}}</td>
		<td>{{thread.uptime}}s</td>
		<td>{{thread.user}}</td>
	</tr>
	{% endfor %}
</tbody>
</table>


<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</body>
</html>
