{% load static %}
{% include 'classy/head.html' %}
<title>Logs - Classy</title>
{% load classy_extras %}
</head>
<body>
    {% include 'classy/navbar.html' %}
    <div id="topicTemplate" class="template container-fluid gov-container">
        <div class="row">
            <div class="col-lg-3">
                {% include 'classy/basic_pagi.html' %}
            </div>
            <div class="col-lg-8">
                <form class="form-group" action="log_list">
                    <div class="input-group">
                        {{form.query}}
                        <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary btn-small" type="button">Search</button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="col-lg-1">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-sm">
                    <thead style="color:#fff;" class="thead-inverse">
                        <tr>
                            
			                <th class="th-cus">ID</th>
                            <th class="th-cus">Action Flag</th>
                            <th class="th-cus">Application</th>
                            <th class="th-cus">Classification</th>
                            <th class="th-cus">Protected</th>
                            <th class="th-cus">User</th>
                            <th class="th-cus">Approver</th>
                            <th class="th-cus">State</th>
                            <th class="th-cus">Action Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tuple in queryset %}
                        <tr>
                            
			                <td><a href={% url 'classy:log_detail' tuple.classy_id %}>{{tuple.classy_id}}</a></td>
			                <td>{{flag_translate|get_item:tuple.flag}}</td>
                            <td>{{tuple.application.acronym}}</td>
                            <td>{{translate|get_item:tuple.classification}}</td>
                            <td>{{translate|get_item:tuple.protected_type}}</td>
                            <td>{{tuple.user.first_name}}</td>
                            <td>{{tuple.approver.first_name}}</td>
                            <td>{{state_translate|get_item:tuple.state}}</td>
                            <td>{{tuple.time}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% include 'classy/basic_pagi.html'%}
            </div>
        </div>
    </div>
{% include 'classy/tail.html' %}
</body>
</html>
