<html>
<head>
<title>History</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
{% load classy_extras %}
{% load static %}
<link rel="stylesheet" href="{% static 'classy/css/style.css' %}"/>
<link rel="stylesheet" href="{% static 'classy/css/bstyle.css' %}"/>
<link rel="shortcut icon" href="{% static 'classy/images/watching.jpg' %}" type="image/x-icon">
<link rel="icon" href="{% static 'classy/images/watching.jpg' %}" type="image/x-icon">

{% include 'classy/head.html' %}

</head>
<body id="bootstrapoverride">

{% include 'classy/navbar.html' %}
<br/>
<h5 class="text-center">Detailed view</h5>

<br/>

<div class="container-fluid">
<div class="row">
{% if obj %}



<div class="col-sm-3">
<table class="table">
<thead>
	<tr>
		<th>Category</th>
		<th>Value</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td><strong>ID</strong></td>
		<td>{{obj.id}}</p>
	</tr>
        <tr>
                <td><strong>State</strong></td>
                <td>{{obj.state}}</td>
        </tr>
	<tr>
		<td><strong>Datasource</strong></td>
		<td>{{obj.datasource}}</td>
	</tr>
        <tr>
                <td><strong>Schema</strong></td>
                <td>{{obj.schema}}</td>
        </tr>
        <tr>
                <td><strong>Table</strong></td>
                <td>{{obj.table}}</td>
        </tr>
        <tr>
                <td><strong>Column</strong></td>
                <td>{{obj.column}}</td>
        </tr>
        <tr>
                <td><strong>Created</strong></td>
                <td>{{obj.created}}</td>
        </tr>
        <tr>
                <td><strong>Creator</strong></td>
                <td>{{obj.creator}}</td>
        </tr>
</tbody>
</table>
</div>
<div class="col-sm-1"></div>
<div class="col-sm-8">
<table class="table">
<thead>
	<tr>
		<th>Date</th>
		<th>Action</th>
		<th>User</th>
		<th>Approver</th>
		<th>Old Classification</th>
		<th>New Classification</th>
		<th>Status</th>
	</tr>
</thead>
<tbody>
	{% for item in result %}
		<tr>
			<td>{{item.time}}</td>
			{% if item.flag == 1 %}
				<td>MODIFY</td>
			{% elif item.flag == 0 %}
				<td>DELETE</td>
			{% elif item.flag == 2 %}
				<td>CREATE</td>
			{% endif %}
			<td>{{item.user}}</td>
			<td>{{item.approver}}</td>
			<td>{{translate|get_item:item.old_classification}}</td>
			<td>{{translate|get_item:item.new_classification}}</td>
			<td>{{state_translate|get_item:item.state}}</td>
		</tr>
	{% endfor %}
</tbody>
</table>
</div>
{% else %}
	<div class="col">
	<p class="text-center"><strong>Invalid ID</strong></p>
	</div>
{% endif %}
</div>
</div>
</body>
</html>
