<!--This is a test -->

<nav class="navbar navbar-expand navbar-toggleable-sm navbar-light bg-faded"> 

	<a class="navbar-brand" href="{% url 'classy:home' %}">DSC</a>
	<div class="navbar-nav">
		<a class="nav-item nav-link" href="{% url 'classy:data' %}">Data</a>
		{% if request.user.is_staff %}
		<a class="nav-item nav-link" href="{% url 'classy:review' %}">Review{% if num != 0 %} <span class="badge badge-info">{{num}}</span>{% endif %}</a>
		<a class="nav-item nav-link" href="{% url 'classy:uploader' %}">Upload</a>
		<a class="nav-item nav-link" href="{% url 'classy:exceptions' %}">Exceptions</a>
		<a class="nav-item nav-link" href="{% url 'classy:log_list' %}">Logs</a>
		<a class="nav-item nav-link" href="{% url 'admin:index' %}">Admin</a>
		{% endif %}
		<a class="nav-item nav-link" href="{% url 'classy:user_logout' %}">Logout</a>
	</div>
</nav>


